:root{
    --primary: #597E52;
    --bg: #F9EFDB;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    border-bottom: 1px solid #638889;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    display: inline-flex;
    font-size: 2rem;
    font-weight: 700;
    color: #43766C;
    cursor: pointer;
    font-style: italic;
    align-items: center;
}

.navbar .navbar-logo img {
    width: 3rem;
    height: 3rem;
    border: #597E52 5cap;
}

.navbar .navbar-logo span {
    color: #B2533E;
}

.navbar .navbar-nav a {
    color: #222222;
    display: inline-block;
    font-size: 1.3rem;
    align-items: center;
    margin: 0rem 1rem;
}

.navbar .navbar-nav a:hover {
    color: #638889;
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #ffffff;
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: var(--primary);
    margin: auto;
}

.navbar .navbar-extra a:hover {
    color: #F9F9FF;
}

.navbar-extra span {
    color: #fff;
    background-color: #e92b2b;
    position: absolute;
    top: 50%;
    right: 6.5%;
    width: 10px;
    height: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: flex;
}

#hamburger-menu {
    display: none;
}

.cart-tab {
    width: 30rem;
    background-color: #fff;
    color: var(--primary);
    position: fixed;
    top: 6.2rem;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-columns: 30rem ;
    grid-template-rows: 4rem 1fr 4rem;
    transform-origin: right;
    transition: 0.3s;
}

.cart-tab.active {
    right: 0;
}

.cart-tab h1 {
    padding: 1.3rem;
    font-size: 1.7rem;
    font-weight: 300;
    border-bottom: 1px solid #638889;
    width: 100%;
}

.cart-tab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cart-tab .btn button {
    background-color: var(--primary);
    color: #fff;
    border: none;
    font-weight: 400;
    font-size: 1.2rem;
    cursor: pointer;
}

.cart-tab .cart-items .items img {
    width: 100%;
}

.cart-tab .cart-items .items {
    display: grid;
    grid-template-columns: 15% 24% 21% 30%;
    gap: 4px;
    text-align: center;
    align-items: center;
}

.cart-items .quantity span {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #9DBC98;
    color: #fff;
    padding-top: 0.2rem;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
}

.cart-items .quantity span:nth-child(2) {
    background-color: transparent;
    color: #000;
}

.cart-items .items:nth-child(even){
    background-color: #ebeaea;
}

.cart-items {
    overflow: auto;
}

.cart-items::-webkit-scrollbar{
    width: 0;
}


/*Hero section*/

.hero {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    background-image: url(../img/Screenshot\ 2024-01-23\ 114950.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    justify-content: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero .element {
    z-index: 99;
    text-align: center;
    padding: 1.5rem;
    width: 100%;
    justify-content: center;
    z-index: 888;
}

.hero .element h1 {
    justify-content: center;
    font-size: 4rem;
    font-weight: 700;
    color: var(--bg);
    margin-bottom: 1rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    line-height: 1.2;
}

.hero .element p {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 200;
}
.hero .element span{
    text-shadow: none;
    color: #FFB534;
}
.hero .element .cta{
    display: flex;
    padding: 1rem 1rem;
    font-size: 1.4rem;
    color: var(--primary);
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    background-color: var(--bg);
    border-radius: 0.5rem;
    width: 17rem;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.6);
}

.hero .element .cta:hover {
    background-color:#d3cbbc;
    color: #fff;
}

.element {
    opacity: 0;
    transform: translateY(20px); /* Optional: Add a slight vertical offset for a smoother transition */
    transition: opacity 2s ease, transform 2s ease;
}

/* CSS for the faded-in state of the main element */
.hero .element.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.about, .product, .contact{
    padding: 7rem 7% 1.4rem;
}

.about span, .product span, .contact span {
    color: var(--primary);
}

.about h2, 
.product h2, .contact h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 2.5rem;
    color: #000;
}

.about h2 {
    padding-top: 7rem;
    width: 100%;
    margin-bottom: 0;
}

.about-element {
    width: 100vw;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.about {
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
.about-element .container {
    justify-content: center;
    align-items: center;
    width: 60rem;
    overflow: auto;
}
.slides {
    flex: 0 0 100%; /* Setiap .slides memiliki lebar 100% lebar container, dan tidak dapat memperluas lebih jauh */
    position: relative;
    height: 100%;
}

.slides img {
    width: 100%; /* Pastikan gambar memenuhi lebar elemen slides */
    object-fit: cover;
}

.slides p {
    text-align: left;
    overflow-wrap: break-word;
    word-wrap: break-word;
    position: absolute;
    bottom: 0;
    top: 0;
    line-height: 20px;
    height: 100%;
    width: 30%; /* Atur lebar teks, bisa disesuaikan sesuai kebutuhan */
    padding: 20px; /* Berikan padding agar teks tidak terlalu dekat dengan tepi */
    background-color: rgba(255, 255, 255, 0.752); /* Tambahkan latar belakang semi-transparan untuk membaca teks */
}

.slider-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.slider {
    display: flex;
    height: fit-content;
    overflow-y: hidden;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    background-color: var(--primary);
}

.slider::-webkit-scrollbar{
    width: 0;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #ffff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

/* .about .row .about-img {
    background-color: #F9F9FF;
    width: 30rem;
    align-items: center;
    justify-items: center;
}

.about .row .about-img img {
    object-fit: cover;
    width: 100%;
}

.about .row .about-img p {
    font-size: 1.2rem;
}

.about-element .row {
    justify-content: center;
    gap: 3rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    text-align: justify;
}

.about .row h3 {
    font-size: 1.6rem;
    margin: 1rem;
    text-align: center;
} */

.product p, .content p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    line-height: 1.6;
    color: #000;
    font-size: 15px;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-weight: 500;
}

.product .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
    padding: 0;
    gap: 2rem;
}

.product .row .menu-card{
    text-align: center;
    padding-bottom: 1.5rem;
    width: 18rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10%;
    padding: 1rem;
    background-color: #EBD9B4;
}

.product .row .menu-card img{
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}

.product .row .menu-card h3 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #000;
}

.product .row .menu-card p {
    color: #638889;
}

.product .row .menu-card .btn {
    display: flex;
    justify-content: center;
    border-color: #fff;
    gap: 0.8rem;
}

.product .row .menu-card .btn button {
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
    color: #ffff;
    border-radius: 1.2rem;
    background-color: var(--primary);
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    transition-duration: 0.3s;
    border: 0.2rem solid var(--primary);
}

.product .row .menu-card .btn button:hover {
    background-color: #9DBC98;
}

.contact p {
    text-align: center;
    width: 100%;
    line-height: 1.6;
    color: #000;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 2rem;

}

.contact .contact-info .overlay-section form {
    padding: 1rem 1rem;
    text-align: center;
    height: 100%;
}

.contact .contact-info .overlay-section form .input-group {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    background-color: var(--bg);
    border: 1px solid #000;
    padding: auto;
}

.contact .contact-info .overlay-section form .message {
    width: 100%;
    height: 60%;
}

.contact .contact-info .overlay-section form .name {
    height: 15%;
}

.contact .contact-info .overlay-section form .input-group input{
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    overflow-wrap: break-word;
    height: 100%;
}
.contact .contact-info .overlay-section form .message textarea{
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    height: 100%;
    resize: none;
}

textarea::-webkit-scrollbar{
    width: 0;
}

.contact .contact-info .overlay-section form .kirim {
    width: 5em;
    background-color:#3e87bd;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.5em 0.1em;
    margin-top: 1rem;
    display: inline-block;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.contact {
    position: relative;
}

.contact .contact-info {
    height: 70vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.contact-info .map {
    width: 100%;
    height: 100%;
    border: 0;
}

.contact .overlay-section {
    padding: 0.3rem;
    position: absolute;
    width: 25vw;
    height: 50vh;
    top: 50%;
    bottom: 20%;
    border-radius: 5px;
    left: 60%;
    margin: auto;
    background-color: var(--primary);
}

footer {
    padding: 0;
    margin-top: 5rem;
    box-sizing: border-box;
    background-color: var(--primary);
    width: 100%;
    padding: 1rem 0.4rem 0.3rem;
}

footer .sosial {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

footer .sosial a {
    display: flex;
    text-decoration: none;
    padding: 1.1rem;
    background-color: #fff;
    margin-bottom: 1rem;
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
}

footer .sosial a i{
    color:#3e87bd;
}

footer .sosial a:hover {

    background-color: var(--bg);
    color: #fff;
    transition: 0.3s;
}

.credit {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 0.2rem;
}

.credit a {
    text-decoration: none;
    color: #fff;
}

.credit a:hover {
    text-decoration: underline;
}

.modal {
    z-index: 99999;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    top: 10px;
    background-color: var(--bg);
    margin: 10% auto;
    padding: 15px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content .closeform {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* Checkout Form Styles */
#checkout-form label {
    display: block;
    margin-bottom: 8px;
}

#checkout-form input,
#checkout-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}
#checkout-form button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    right: 0;
    border-radius: 10px;
    cursor: pointer;
}

#checkout-form button:hover {
    background-color: #45a049;
}


/* Override modal styles for mobile responsiveness */
@media only screen and (max-width: 600px) {
    .modal-content {
        width: 90%;
    }
}
/* media Queries*/
/*laptop*/
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}
/*Tablet*/
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #EBD9B4;
        width: 20rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: #000;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    .navbar-extra span {
        position:absolute ;
        margin-right: 30px;
        /* right: 60px; */
    }
    
    
    .about .content {
        margin-top: 1rem;
        font-size: 1.6rem;
    }


    .product p{
        font-size: 1.2rem;
    }

    .contact .contact-info {
        flex-wrap: wrap;
        height: 50rem;
        gap: 2rem;
    }

    .contact .contact-info .map {
        height: 50%;
        border-radius: 5px;
    }

    .contact .contact-info .overlay-section {
        position:inherit;
        padding-top: 0%;
    }

    .contact .contact-info {
        display: flex;
        margin-top: 2rem;
    }
    
    .contact .contact-info .overlay-section {
        flex: 1 1 45rem;
        text-align: center;
        height: 30rem;
    }
    
    .contact .contact-info form .input-group {
        display: flex;
        height: 10%;
        align-items: center;
        margin-top: 1rem;
        border: 1px solid #fff;
    }
    
    .contact .contact-info form .input-group input{
        width: 100%;
        padding: 1.5rem;
        font-size: 1.2rem;
    }

    .contact .contact-info .overlay-section form .message {
        height: 40%;
    }
    .contact .contact-info .overlay-section form .message textarea{
        width: 100%;
        padding: 1rem;
        font-size: 1.2rem;
        height: 100%;
        resize: none;
    }
    
    textarea::-webkit-scrollbar{
        width: 0;
    }
    .contact .contact-info form .kirim {
        width: 30%;
        background-color: var(--primary);
        color: #fff;
        font-size: 1.6rem;
        padding: 1rem 2rem;
        margin-top: 2rem;
        display: inline-block;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        text-align: center;
    }
    

}
/*Handhone*/
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }

    .slides p {
        line-height: 13px;
        font-size: 1rem;
        height: 100%;
        width: 35%; /* Atur lebar teks, bisa disesuaikan sesuai kebutuhan */
        padding: 10px; /* Berikan padding agar teks tidak terlalu dekat dengan tepi */
        background-color: rgba(255, 255, 255, 0.752); /* Tambahkan latar belakang semi-transparan untuk membaca teks */
    }
}